form(action="/newboard" method="post")
    label(for="name") Board Name 
    input(type="text"  name="name" require)
    br

    label(for="stock_count") Stock Count 
    input(type="number" name="stock_count")
    br

    input(type="submit", Value="Submit")