form(action="/auth/register" method="post")

    div(class='mb-3')
        label(for="username" class="form-label") Username 
        input(type="text" id="username" name="username" class='form-control' require)

    div(class="mb-3")
        label(for="email" class="form-label") Email 
        input(type="email" id="email" name="email" class='form-control' require)

    div(class='mb-3')
        label(for="password" class="form-label") Password 
        input(type="password" id="password" name="password" class='form-control' require)  

    //- not implemented yet
    div(class='mb-3')
        label(for="password2" class="form-label") Password (again)
        input(type="password" id="password" name="password2" class='form-control' require)  

    button(type="submit" class="btn btn-primary mb-3") Register