extends base

block content 

    h1 Login
        
    form(action="/login" method="post")
        div
            label(for="username") Username 
            input(type="text" id="username" name="username" require)  

        div
            label(for="password") Password 
            input(type="password" id="password" name="password" require)  

        button(type="submit") Login

    a(href="/register") Register 