extends base

block content 

    div(class='container mt-3')

        div(class="row justify-content-center"): div(class="col-4")
            
                h2 Register

                include _register_form

                a(href="/auth/login") Login 